body {
    background-color: #212529;
}

h2 {
    color: white;
}

.console-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.console {
    background-color: #1B1F22;
    border: 1px solid #495057;
    border-radius: 5px;
    flex-grow: 1;
    padding: 30px;
}

.console-item {
    text-align: start;
}

.tokens {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollable-table {
    flex-grow: 1;
    overflow-y: auto;
}

table th {
    position: sticky;
    top: 0;
}

.selected td {
    background-color: #373b3d;
}

tbody tr:hover {
    cursor: pointer;
}

.found {
    background-color: green !important;
}